body{
    background-color: burlywood;
    background-image: url(foto/woodback1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;

    /* border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 5px; */
}
/* grid-area: row-start / column-start / row-end / column-end; */
.grid-item1{
    grid-area: 1/1/2/2;
    text-align: center;
    
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;

    background-color: white;
}
.grid-item2{
    grid-area: 1/2/2/3;
    text-align: center;
}
.grid-item3{
    grid-area: 1/3/2/4;
    text-align: center;
    
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;

    background-color: white;
}
img{
    border-style: solid;
    border-color: black;
    border-radius: 40px;
    border-width: 3px;

    width: 190px;
    height: 190px;
}
#gooien, #volgende, #nieuw{
    margin: 5px;
    width: 9vw;
    height: 2vw;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
}
#gooien:hover, #volgende:hover, #nieuw:hover{
    background-color: chocolate;
}
#nieuw{
    margin-top: 10vw;
}

.grid-item2 p{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    
    width: 100px;
    height: 25px;
    text-align: center;

    background-color: white;

    /* margin-top: 100px; */
}
.o{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
}
li{
    text-align: left;
}
.onthoud{
    border-style: solid;
    border-color: black;
    border-radius: 40px;
    border-width: 3px;
}
.onthoud.active{
    background-color: none;
}
.onthoud:hover{
    background-color: chocolate;
}
#onthoud1.is-active{background-color: chocolate;}
#onthoud2.is-active{background-color: chocolate;}
#onthoud3.is-active{background-color: chocolate;}
#onthoud4.is-active{background-color: chocolate;}
#onthoud5.is-active{background-color: chocolate;}

fieldset{
    border: none;
    text-align: left;
}
legend{
    text-align: center;
}
#P1{
    font-size: larger;
    color: chartreuse;
}
#P2{
    font-size: larger;
    color: black;
}
#p1.is-active{color: black;}
#p2.is-active{color: chartreuse;}
#B1{
    border-color: chartreuse;
}
#B2{
    border-color: black;
}
#B1.is-active{border-color: black;}
#B2.is-active{border-color: chartreuse;}
.in{
    max-width: auto;
    width: 20vw;
}
input{
    border-left:none;
    border-right: none;
    border-top: none;
}
#een:hover{
    color: chocolate;
}
p{
    display: inline;
    margin-right: 2vw;
}